<div class="container">

  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <h1 class="text-center">Liste des produits</h1>
        <ul>
          <% @products.each do |product| %>

          <div class="product">

            <% if user_signed_in? %>

              <% if current_user.voted_for?(product) %>
                <%= link_to upvote_path(current_user.upvotes.where(product: product).first), method: :delete, class: 'product-upvoted' do %>
                  <div class="product-arrow"></div>
                  <div class='product-count'>
                    <%= product.upvotes.count %>
                  </div>
                <%end %>
              <% else %>
                <%= link_to upvotes_path(product_id: product.id), method: :post, class: 'product-upvote' do %>
                  <div class="product-arrow"></div>
                  <div class='product-count'>
                    <%= product.upvotes.count %>
                  </div>
                <%end %>
              <% end %>

            <% else %>

              <div class='product-upvote'>
                <div class="product-arrow"></div>
                <div class='product-count'>
                  <%= product.upvotes.count %>
                </div>
              </div>

            <% end %>



            <% if product.photo? %>
              <%= cl_image_tag product.photo.path, height:117, width:175, crop: :fill, class: "product-image" %>
            <% else %>
              <img src="http://unsplash.it/300/200?random" alt="kudoz" class="product-image hidden-xs">
            <% end %>
            <div class='product-body'>
              <h3> <%= product.name %></h3>
              <p><%=product.tagline %></p>
            </div>
            <ul class="list-inline product-controls hidden-sm hidden-xs">
              <li><%= link_to product_path(product) do %>
                <i class="fa fa-eye"></i>
              </li>
              <% end %>
              <li><%= link_to edit_product_path(product) do %>
                <i class="fa fa-pencil-alt"></i>
              </li>
              <% end %>
              <li><%= link_to product_path(product), method: :delete do %>
                <i class="fa fa-trash"></i>
              </li>
              <% end %>

            </ul>
          </div>
          <% end %>
        </ul>
    </div>
  </div>
</div>
